@model CatViewModel

<h1>Add Cat</h1>
<hr />
<form method="post">
    <div class="form-group">
        <label>Cat Name</label>
        <input type="text" name="Name" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Cat Age</label>
        <input type="text" name="Age" class="form-control"/>
    </div>
    <div class="form-group">
        <label>Cat Breed</label>
        <input type="text" name="Breed" class="form-control" />
    </div>
    <div class="form-group">
        <label>Cat ImageUrl</label>
        <input type="text" name="ImageUrl" class="form-control" />
    </div>
    <div>
        <input type="submit" value="Add Cat" class="btn btn-primary"/>
    </div>
</form>