@model CatViewModel

<h1>Edit Cat Info</h1>
<hr />
<form method="post">
    <div class="form-group">
        <label>Cat Name</label>
        <input type="text" name="Name" />
    </div>
    <div class="form-group">
        <label>Cat Age</label>
        <input type="text" name="Age" />
    </div>
    <div class="form-group">
        <label>Cat Breed</label>
        <input type="text" name="Breed" />
    </div>
    <div class="form-group">
        <label>Cat ImageUrl</label>
        <input type="text" name="ImageUrl" />
    </div>
    <div>
        <input type="submit" value="Add Cat" />
    </div>
</form>